{# src/SiteRI/SecBundle/Resources/views/Sec/index.html.twig #}
{% extends "RISecBundle::layout.html.twig" %}
{% block title %}
    Accueil Secrétaire - {{ parent() }}
{% endblock %}

{% block secRI_body %}
    <h2><center><u>Bienvenue sur le Site des Relations Internationales</u></center></h2>
{% endblock %}