{# src/SiteRI/SecBundle/Resources/views/Sec/inscEtu.html.twig #}
{% extends "SiteRISecBundle::layout.html.twig" %}
{% block title %}
    Inscrire un étudiant - {{ parent() }}
{% endblock %}

{% block secRI_body %}
    <h2><center><u>inscrire un étudiant</u></center></h2>
{% endblock %}