{# src/SiteRI/SecBundle/Resources/views/Sec/voirDocumentSec.html.twig #}
{% extends "SiteRISecBundle::layout.html.twig" %}
{% block title %}
    Documents - {{ parent() }}
{% endblock %}

{% block secRI_body %}
    <h2><center><u>Documents</u></center></h2>
{% endblock %}