{# src/RI/AdminBundle/Resources/views/SiteRI/ajouter.html.twig #}

{% extends "RIAdminBundle::layout.html.twig" %}

{% block title %}
	Ajouter un statut - {{ parent() }}
{% endblock %}

{% block adminRI_body %}

	<h2>Ajouter un statut partenaire</h2>

	{% include "RIAdminBundle:Sie:formulaire.html.twig" %}

	<p>
		Vous pouvez ajouter un statut de partenaire
	</p>

	

{% endblock %}