{# src/SiteRI/AdminBundle/Resources/views/Admin/gestionPart.html.twig #}
{% extends "SiteRIAdminBundle::layout.html.twig" %}
{% block title %}
    Gestion des partenaires - {{ parent() }}
{% endblock %}

{% block adminRI_body %}
    <h2><center><u>Gestion des partenaires</u></center></h2>
{% endblock %}