{# src/SiteRI/AdminBundle/Resources/views/Admin/index.html.twig #}
{% extends "RIAdminBundle::layout.html.twig" %}
{% block title %}
    Accueil Administrateur - {{ parent() }}
{% endblock %}

{% block adminRI_body %}
    <h2><center><u>Bienvenue sur le Site des Relations Internationales</u></center></h2>
{% endblock %}