{# src/SiteRI/AdminBundle/Resources/views/Admin/stageEtu.html.twig #}
{% extends "SiteRIAdminBundle::layout.html.twig" %}
{% block title %}
    Gestion des Stages des étudiants - {{ parent() }}
{% endblock %}

{% block adminRI_body %}
    <h2><center><u>Gestion des stages des étudiants</u></center></h2>
{% endblock %}