{% extends "RISiteBundle::layout.html.twig" %}

{%block body %}
<h3>Ajouter un étudiant </h3>

<p>Les champs marqués d'un * sont obligatoires.</p>
    {% include "RISiteBundle:Site:formulaire.html.twig" %}


{%endblock%}