{# src/SiteRI/SiteBundle/Resources/views/Site/documentSec.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Envoi - {{ parent() }}
{% endblock %}

{% block body %}
    <h2><center><u>Envoi d'un document</u></center></h2>
    <p>Choisissez le document à envoyer à: {{user.nom}} {{user.prenom}}
        {% include "RISiteBundle:Site:formulaire.html.twig" %}
    </p>
    
{% endblock %}