{# src/SiteRI/SiteBundle/Resources/views/Site/index.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block siteRI_body %}
    <h2><center><u>Bienvenue sur le Site des Relations Internationales</u></center></h2>
    <p>Les stages sont une étape nécessaire dans le cursus scolaire afin d'assurer une intégration
    dans le monde du travail. <br>
    L'IUT de Lens propose à ses étudiants de partir à l'étranger pour obtenir avec l'expérience d'autres
    qualités telles que le relationnel ou l'apprentissage ou l'amélioration d'une ou plusieurs langues.<br>
    Ce site tend à aider les différents acteurs de ces stages à communiquer des renseignements et 
    à partager des documents.<br><br>
    Le professeur chargé des relations internationales au sein de l'IUT de Lens:<br>
    <table>
        <tr><td style="font-weight: bold">{{admin.nom}} {{admin.prenom}}</td></tr>
        <tr><td>{{admin.email}}</td></tr>
    </table>
    </p>
    
    
{% endblock %}