{% extends "RISiteBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block risite_body %}

	<h2>En dessous se trouve l'API Google Maps</h2>

	
        Coucou !
        

{% endblock %}