{# src/SiteRI/SiteBundle/Resources/views/Site/partenaire.html.twig #}
{% extends "SiteRISiteBundle::layout.html.twig" %}
{% block title %}
    Partenaires - {{ parent() }}
{% endblock %}

{% block siteRI_body %}
    <h2><center><u>Partenaires</u></center></h2>
{% endblock %}