{# src/SiteRI/PartBundle/Resources/views/Part/documentPart.html.twig #}
{% extends "SiteRIPartBundle::layout.html.twig" %}
{% block title %}
    Documents - {{ parent() }}
{% endblock %}

{% block partRI_body %}
    <h2><center><u>Documents</u></center></h2>
{% endblock %}