{# src/SiteRI/PartBundle/Resources/views/Part/index.html.twig #}
{% extends "RIPartBundle::layout.html.twig" %}
{% block title %}
    Accueil Partenaire - {{ parent() }}
{% endblock %}

{% block partRI_body %}
    <h2><center><u>Bienvenue sur le Site des Relations Internationales</u></center></h2>
{% endblock %}