{# src/SiteRI/PartBundle/Resources/views/Part/stagiaires.html.twig #}
{% extends "SiteRIPartBundle::layout.html.twig" %}
{% block title %}
    Voir stagiaires - {{ parent() }}
{% endblock %}

{% block partRI_body %}
    <h2><center><u>Voir les stagiaires</u></center></h2>
{% endblock %}