{# src/SiteRI/SiteBundle/Resources/views/Site/document.html.twig #}
{% extends "SiteRIEtuBundle::layout.html.twig" %}
{% block title %}
    Documents - {{ parent() }}
{% endblock %}

{% block etuRI_body %}
    <h2><center><u>Documents</u></center></h2>
{% endblock %}