{# src/SiteRI/SiteBundle/Resources/views/Etu/document.html.twig #}

{% extends "RISiteBundle::layout.html.twig" %}

{% block title %}
    Documents - {{ parent() }}
{% endblock %}

{% block etuRI_body %}
    <h2><center><u>Documents</u></center></h2>
{% endblock %}