{# src/SiteRI/SiteBundle/Resources/views/Etu/index.html.twig #}
{% extends "RIEtuBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block etuRI_body %}
    <h2><center><u>Bienvenue sur le Site des Relations Internationales</u></center></h2>
{% endblock %}