{# src/SiteRI/SiteBundle/Resources/views/Site/profil.html.twig #}
{% extends "SiteRIEtuBundle::layout.html.twig" %}
{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block etuRI_body %}
    <h2><center><u>Profil</u></center></h2>
{% endblock %}