{# src/SiteRI/SiteBundle/Resources/views/Etu/profil.html.twig #}

{% extends "RIEtuBundle::layout.html.twig" %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block etuRI_body %}
    <h2><center><u>Profil</u></center></h2>
{% endblock %}